*{
    margin: auto;
}
body{
    background-color: black;
}
.box{
    margin: 1px AUTO;
    color: white;
    background-color:tomato;
    border-radius: 20px;
    box-shadow: white 0px 3px 5px 2px;
    width:440px;
    padding: 15px 9px;
}

h1{
    text-align: center;
    margin-top: 40px;
    font-family: fantasy;
    color: white;
    font-size: 50px;
    text-shadow:0px 3px 2px tomato;
    padding-bottom: 5px;
}
h5{
    margin: 0px 10px;
}
#titre{
    /* margin-bottom: 20px; */
    font-family:fantasy;
    font-size: 35px;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    color: tomato;
    line-height: 35px; 
    /* text-shadow:0px 2px 1px white; */
    word-spacing: 6px;
}
#condition{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 30px;
    /* text-shadow:0px 1px 1px white; */
}
span{
    color:#ffffff;
}
q{
    color: tomato;
}
#attempts{
    color: white;
    padding: 2px;
    font-size: 25px;
    font-weight: bolder;
    /* display: flex; */
    justify-content:flex-start;
    display: none;
}
form{
    display: flex;
    flex-direction: column;
}
.btn{
    display: block;
    justify-content: center;
    align-items: center;
}
h4{
    color: black;
    font-weight:lighter;
    font-size: 22px;
    font-family:fantasy;
}
#message{
    text-align: center;
    padding-top: 10px;
}
#label{
    margin-left: 35px;
}
input{
    margin: 8px auto;
    width: 180px;
    height: 30px;
    margin-bottom: 8px;
    border:2px solid black;
    outline: none;
    border-radius: 10px;
}
button{
    margin: 8px auto;
    width: 180px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: white;
}
#btnreplay{
    display: none;
}
img{
    display: none;
    width: 180px;
    border-radius: 12px;
}
